include opencap/CMakeLists.txt
include opencap/src/*
include opencap/include/*
include opencap/bindings/*
include opencap/tests/*
include opencap/tests/data/*
include opencap/tests/qchem/*
include opencap/tests/openmolcas/*
include LICENSE
include MANIFEST.in