name: ubuntu

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      matrix:
        python-version: [3.8,3.9,"3.10"]
    
    
    
    steps:
      - uses: actions/checkout@v2
        name: Check out repository
        
      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v2.1.1
        with:
            auto-activate-base: true
            activate-environment: true
            python-version: ${{ matrix.python-version }}


      - name: Install system dependencies
        run: |
          sudo apt-get -y install libhdf5-serial-dev
          sudo apt-get -y install libeigen3-dev
          sudo apt-get -y install lcov
          sudo apt-get -y install doxygen
          sudo apt-get -y install cmake
       
      - name: Build and test OpenCAP
        run: |
          cd opencap; mkdir build; 
          cd build
          cmake -DCODE_COVERAGE=ON -DCMAKE_BUILD_TYPE=RelWithDebInfo .. 
          make 
          ctest --output-on-failure
          cd ../../
          
      - name: Build and test PyOpenCAP
        run: |
          conda install -c psi4/label/dev psi4
          pip install pytest
          pip install pytest-cov
          pip install h5py
          pip install numpy
          pip install pyscf
          pip install codecov
          pip install numgrid
          pip install pandas
          pip install .
          cd pyopencap
          pytest --cov=pyopencap --cov-report=xml
          cd ..
            
      - name: Upload reports
        run: |
          cd opencap/build
          lcov   --directory . --capture --output-file coverage.info
          lcov --remove coverage.info '/usr/*' "${HOME}"'/.cache/*' --output-file coverage.info 
          lcov --remove coverage.info '*eigen*' "${HOME}"'/.cache/*' --output-file coverage.info 
          lcov --remove coverage.info '*_deps*' "${HOME}"'/.cache/*' --output-file coverage.info 
          lcov --remove coverage.info '*tests*' "${HOME}"'/.cache/*' --output-file coverage.info 
          lcov --list coverage.info
          bash <(curl -s https://codecov.io/bash) -f coverage.info || echo "Codecov did not collect coverage C++ reports"
          cd ../../pyopencap
          bash <(curl -s https://codecov.io/bash) -f coverage.xml || echo "Codecov did not collect coverage Python reports"